<menu class="social-media-share">
    <a href="https://www.facebook.com/profile.php?id=100000507721664" target="_blank" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="https://twitter.com/SimplyJoJoo" target="_blank" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://plus.google.com/+JoannaDeLosSantos/" target="_blank" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="https://www.linkedin.com/in/joannadelossantos" target="_blank" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/jdelossa" target="_blank" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="mailto:jocodes@gmail.com" target="_blank" class="icon-mail" rel="external" title="My Mail"></a>
</menu>